<p id="notice"><%= notice %></p>
<%= render :partial => "form", :locals => { :legend => "User profile" } %>
<%= link_to 'Edit', edit_user_path(@user) if @user.id == current_user.id%>
<%= link_to 'Back', users_path %>

